{{ partial "header" . }}
<div class="content container">

  <section class="c-intro">
    <div class="c-subheading">Introduction</div>
    <h1 class="c-intro__tagline">I'm <strong>Andrew Garrison</strong>, a Marketing student with a passion for creating stunning websites.</h2>
  </section>

  <section class="c-projects">
        <div class="c-subheading">Projects</div>
        <div class="c-projects__featured">
            <a data-image-content="Born To Build" class="c-projects__image" href="/projects/project/borntobuild">
                <img src="/img/BP10_IMG.jpg">
            </a>
            <a data-image-content="Ramifai" class="c-projects__image" href="/projects/project/ramifai">
              <img src="/img/Ramifai_IMG.jpg">
            </a>
            <a data-image-content="WildeGuide" class="c-projects__image" href="/projects/project/wildeguide">
              <img src="/img/WildeGuide_IMG.jpg">
            </a>
        </div>
        <a href="/projects" class="btn btn-primary">View All</a>
  </section>

  <section>

  </section>
</div>

{{ partial "footer" . }}
