{{ partial "header" . }}

<div class="content container">
  {{.Content}}
  <div class="flex-display flex-display--start flex-display--wrap">
    {{ range .Data.Pages.ByDate.Reverse }}
      <div class="c-snippet">
        <div class="c-snippet__header">
            <p class="c-snippet__category">{{.Params.Categories}}</p>
            <img class="c-snippet__image" {{ with .Params.feature_image }} src="{{ . }}"{{ end }} alt="{{ .Title }}" />
        </div>
        <a class="c-snippet__title" href="{{.URL}}">{{.Title}}</a>
        <h5 class="c-snippet__date">{{.Date.Format "January 2, 2006"}}</h5>
        <p class="c-snippet__description">{{.Description}}</p>
      </div>
    {{end}}
  </div>
</div>

{{ partial "footer" . }}